.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.intro_section {
  min-height: 100vh;
  margin-bottom: 0px;
  background-color: #000;
}

.footer_section {
  background-color: #000;
}

.preloader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99999;
  display: none;
  background-color: #000;
}

.background-video-2 {
  display: inline-block;
  width: 100%;
  height: 100%;
}

._4_block_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block {
  display: inline-block;
  width: 50%;
}

.div-block-2 {
  display: inline-block;
  width: 50%;
  margin-top: 150px;
  text-align: center;
}

.testimonials {
  background-color: orange;
}

.slider {
  background-color: #f59516;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.slide {
  text-align: center;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

.div-block-5 {
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
}

.image {
  margin-right: auto;
  margin-left: auto;
  border-radius: 90px;
}

._4_block {
  width: 25%;
}

._4_block.footer_block {
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.footer {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #000;
  color: transparent;
}

.contact_section {
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: transparent;
}

.about_section {
  display: block;
  min-height: 100vh;
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: transparent;
}

.work_section {
  position: static;
  display: block;
  min-height: 100vh;
  padding: 50px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.services_section {
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: transparent;
}

.contact {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
}

.section_titles {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 25px 0px;
  font-family: Audiowide, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
}

.section_titles.greeting {
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  font-size: 90px;
  line-height: 95px;
  text-align: left;
}

._2_block_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._2_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 10px;
}

.footer_heading {
  margin-top: 25px;
  margin-bottom: 5px;
  color: #fff;
}

.legal_block {
  margin-bottom: 0px;
  padding-bottom: 5px;
  text-align: center;
}

.heading-3 {
  color: #fff;
}

.orange_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 15px;
  float: right;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #f59516;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.footer_grid_2_block {
  padding-top: 7px;
  padding-bottom: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-top: 1px solid #fff;
}

.footer_list_item {
  font-family: 'Fa brands 400', sans-serif;
  color: #fff;
  font-size: 22px;
}

.footer_link {
  margin-left: 0px;
  border-top: 1px solid #000;
  color: #fff;
  text-decoration: none;
}

.footer_link.footer_icon {
  display: inline-block;
  margin-top: 15px;
  margin-right: 7px;
  margin-left: 0px;
}

.footer_link.footer_icon:hover {
  color: #f59516;
  font-weight: 400;
}

.footer_grid_1_block {
  padding-top: 7px;
  padding-bottom: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-top: 1px solid #fff;
}

.heading-4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Audiowide, sans-serif;
  color: #333;
  text-align: left;
}

.background_holder {
  position: relative;
  z-index: -1;
  background-color: #4c4f57;
  opacity: 0;
}

.bg_grey {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-color: #4c4f57;
}

.bg_white {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.link_white {
  color: #fff;
  text-decoration: none;
}

.link_white:hover {
  color: #f59516;
  font-weight: 700;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #000;
}

.menu_container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.nav_link {
  color: #fff;
  font-weight: 700;
}

.nav_link.w--current {
  color: orange;
}

.nav_link.w--current:hover {
  font-size: 14px;
  text-align: center;
}

._3d_scroll {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: #f5941c;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.services_intro {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-color: #000;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.scroll_height {
  height: 1000vh;
  opacity: 1;
}

.web_development {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: block;
  background-color: transparent;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.inner_web_development {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  border: 0px none #000;
  border-radius: 0px;
  background-color: transparent;
  background-image: url('../images/web_development.jpg');
  background-position: 0% 0%;
  background-size: 100% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.app_development {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  display: block;
  background-color: transparent;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.inner_app_development {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  border: 0px none #000;
  border-radius: 0px;
  background-color: transparent;
  background-image: url('../images/app_development.jpg');
  background-position: 0px 0px;
  background-size: 100% 100%;
  opacity: 1;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.ui_ux {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 4;
  display: block;
  background-color: transparent;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.inner_ui_ux {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: transparent;
  background-image: url('../images/ui_ux.jpg');
  background-position: 0px 0px;
  background-size: 100% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.digital_copywriting {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;
  display: block;
  background-color: transparent;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.inner_digital_copywriting {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: transparent;
  background-image: url('../images/digital_copywriting.jpg');
  background-position: 0px 0px;
  background-size: 100% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.seo {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 6;
  display: block;
  background-color: transparent;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.inner_seo {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: transparent;
  background-image: url('../images/seo.jpg');
  background-position: 0px 0px;
  background-size: 100% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.analytics {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 7;
  display: block;
  background-color: transparent;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.inner_analytics {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: transparent;
  background-image: url('../images/analytics.jpg');
  background-position: 0px 0px;
  background-size: 100% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.internet_marketing {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 8;
  display: block;
  background-color: transparent;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.inner_internet_marketing {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: transparent;
  background-image: url('../images/internet_marketing.jpg');
  background-position: 0px 0px;
  background-size: 100% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.social_media_management {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9;
  display: block;
  background-color: transparent;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.inner_social_media_management {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: transparent;
  background-image: url('../images/social_media_management.jpg');
  background-position: 0px 0px;
  background-size: 100% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.services_end {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9;
  display: block;
  background-color: transparent;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.inner_services_end {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.web_development_title {
  display: inline-block;
  margin: 355px auto 160px 175px;
  border: 0px none #000;
  font-family: Audiowide, sans-serif;
  color: #fff;
  font-size: 95px;
  text-shadow: 1px 1px 20px #000, 4px 4px 2px #f5941c;
}

.app_development_title {
  position: static;
  display: inline-block;
  margin: 355px auto 160px 175px;
  border: 0px none #000;
  font-family: Audiowide, sans-serif;
  color: #fff;
  font-size: 95px;
  text-shadow: 1px 1px 20px #000, 4px 4px 2px #f5941c;
}

.ui_ux_title {
  display: inline-block;
  margin: 355px auto 160px 175px;
  border: 0px none #000;
  font-family: Audiowide, sans-serif;
  color: #fff;
  font-size: 95px;
  text-shadow: 1px 1px 20px #000, 4px 4px 2px #f5941c;
}

.digital_copywriting_title {
  display: inline-block;
  margin: 355px auto 160px 175px;
  border: 0px none #000;
  font-family: Audiowide, sans-serif;
  color: #fff;
  font-size: 95px;
  text-shadow: 1px 1px 20px #000, 4px 4px 2px #f5941c;
}

.seo_title {
  display: inline-block;
  margin: 355px auto 160px 175px;
  border: 0px none #000;
  font-family: Audiowide, sans-serif;
  color: #fff;
  font-size: 95px;
  text-shadow: 1px 1px 20px #000, 4px 4px 2px #f5941c;
}

.analytics_title {
  display: inline-block;
  margin: 355px auto 160px 175px;
  border: 0px none #000;
  font-family: Audiowide, sans-serif;
  color: #fff;
  font-size: 95px;
  text-shadow: 1px 1px 20px #000, 4px 4px 2px #f5941c;
}

.internet_marketing_title {
  display: inline-block;
  margin: 355px auto 160px 175px;
  border: 0px none #000;
  font-family: Audiowide, sans-serif;
  color: #fff;
  font-size: 95px;
  text-shadow: 1px 1px 20px #000, 4px 4px 2px #f5941c;
}

.social_media_management_title {
  display: inline-block;
  margin: 355px auto 35px 175px;
  border: 0px none #000;
  font-family: Audiowide, sans-serif;
  color: #fff;
  font-size: 95px;
  line-height: 85px;
  text-shadow: 1px 1px 20px #000, 4px 4px 2px #f5941c;
}

.form {
  margin-top: 0px;
}

.form-block {
  margin-top: 0px;
  text-align: left;
}

.web_development_header {
  display: block;
  margin: 25px auto 25px 30px;
  padding-bottom: 0px;
  border: 0px none #000;
  font-family: Audiowide, sans-serif;
  color: #fff;
  font-size: 95px;
  text-shadow: 1px 1px 7px #000;
}

._3_block {
  display: inline-block;
  width: 33.3333333%;
  padding: 10px;
}

._3_block_row {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.paragraph {
  padding-right: 0px;
  padding-left: 0px;
  color: #4c4f57;
  text-align: center;
}

.paragraph-2 {
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: #4c4f57;
  text-align: center;
}

.paragraph-3 {
  padding-right: 0px;
  padding-left: 0px;
  color: #4c4f57;
  text-align: center;
}

.div-block-13 {
  width: 100%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f59516;
}

.div-block-14 {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #4c4f57;
}

.div-block-15 {
  width: 60%;
  height: 100vh;
  margin: 26px auto 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fff;
}

.heading-8 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Audiowide, sans-serif;
  color: #fff;
  text-align: center;
}

.paragraph-4 {
  display: block;
  margin-bottom: 0px;
  color: #fff;
}

.heading-10 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Audiowide, sans-serif;
  color: #4c4f57;
  text-align: center;
}

.heading-11 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Audiowide, sans-serif;
  color: #4c4f57;
  text-align: center;
}

.heading-12 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Audiowide, sans-serif;
  color: #000;
  text-align: center;
}

.heading-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Audiowide, sans-serif;
  color: #000;
}

.button {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  margin: 7px auto;
  float: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: none;
  border-width: 0px;
  border-color: #fff;
  background-color: #f59516;
  text-align: center;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-5 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.heading-14 {
  display: block;
  margin: 0px auto;
  font-family: Audiowide, sans-serif;
  color: #4c4f57;
  text-align: center;
}

.div-block-16 {
  display: block;
  width: 65vw;
  height: 25vh;
  margin: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #000;
  opacity: 0.86;
}

.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  margin: 7px auto;
  padding-top: 9px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f59516;
  text-align: center;
}

.image-6 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.heading-15 {
  font-family: Audiowide, sans-serif;
  color: #4c4f57;
  text-align: center;
}

.image-7 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 35vh;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.logo_bar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.header_bar {
  margin-top: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #4c4f57;
}

.heading-16 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 30px;
  color: #fff;
  text-shadow: 1px 1px 7px #000;
}

.paragraph-5 {
  margin-bottom: 0px;
  color: #000;
}

.benefits_block {
  padding-top: 25px;
  padding-bottom: 25px;
}

.heading-18 {
  font-family: Audiowide, sans-serif;
  color: #000;
}

.heading-19 {
  font-family: Audiowide, sans-serif;
  color: #000;
}

.heading-20 {
  font-family: Audiowide, sans-serif;
  color: #000;
}

.paragraph-6 {
  color: #4c4f57;
}

.heading-21 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.background-video-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 35vh;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-20 {
  padding-top: 25px;
  padding-bottom: 26px;
}

.heading-23 {
  display: block;
  margin-top: 0px;
  margin-bottom: 1px;
  font-family: Audiowide, sans-serif;
  text-align: center;
}

.div-block-21 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  border: 1px none #000;
}

.mask {
  margin-right: 0px;
}

.div-block-23 {
  display: inline-block;
  width: 25%;
}

.div-block-24 {
  display: inline-block;
  width: 25%;
}

.image-11 {
  display: block;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.heading-24 {
  margin-left: auto;
  text-align: center;
}

.heading-25 {
  text-align: center;
}

.heading-26 {
  text-align: center;
}

.heading-27 {
  text-align: center;
}

.jb_body {
  font-family: Lato, sans-serif;
  color: #000;
}

.work_page {
  display: block;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.flex_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 125vw;
  height: 100vh;
}

.display_column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #f59516;
}

.disp_col_inner {
  position: relative;
  padding: 50px;
}

.col_title {
  position: relative;
  z-index: 5;
  font-family: Audiowide, sans-serif;
  color: #4c4f57;
  font-size: 100px;
  line-height: 100px;
}

.image_holder {
  position: absolute;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  z-index: 3;
  width: 55vw;
  height: 75vh;
  border-radius: 10px;
  background-image: url('../images/internet_marketing.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.about_para {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: left;
}

.background-video-4 {
  position: fixed;
  z-index: 0;
  display: inline-block;
  width: 100%;
  height: 100vh;
}

.hero_section {
  display: block;
  height: 300vh;
}

.background_vid_block {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100%;
  height: 100vh;
  margin-bottom: 0px;
  padding-bottom: 377px;
}

.desktop_block {
  position: fixed;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url('../images/three_laptops.png');
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.section {
  position: relative;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  margin-top: 1000px;
  background-color: #000;
}

.list-2 {
  font-family: Lato, sans-serif;
  color: #fff;
  text-align: left;
}

.services_block_list_item {
  margin-left: 0px;
  font-family: Audiowide, sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  list-style-type: square;
  text-shadow: 1px 1px 20px #000, 3px 3px 2px #f5941c;
}

.orange_button_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 115px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f59516;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.orange_button_center.social_media_button {
  display: inline-block;
  width: auto;
  text-align: left;
}

.orange_button_center.internet_marketing_button {
  width: auto;
}

.orange_button_center.analytics_button {
  width: auto;
}

.orange_button_center.seo_button {
  width: auto;
}

.orange_button_center.digital_copywriting_button {
  width: auto;
}

.orange_button_center.ui_ux_button {
  width: auto;
}

.orange_button_center.app_development_button {
  width: auto;
}

.orange_button_center.web_development_button {
  display: inline-block;
  width: auto;
  float: right;
}

.orange_button_center.about_button {
  display: inline-block;
  width: auto;
  margin: 10px 0px;
}

.orange_button_center.services_button {
  display: inline-block;
  width: auto;
  text-align: center;
}

.heading-29 {
  font-style: italic;
}

.image-17 {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}

.about_li {
  font-size: 16px;
  text-align: left;
}

.contact_me_para {
  color: #000;
  font-size: 16px;
}

.section_titles_final {
  margin: 25px 0px;
  font-family: Audiowide, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
}

.header_tagline {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Audiowide, sans-serif;
  color: #fff;
  font-size: 40px;
  text-align: left;
}

.paragraph-12 {
  font-size: 16px;
}

.my_work_feature_para {
  font-size: 16px;
  text-align: center;
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
}

._45_block {
  display: block;
  width: 45%;
  padding: 10px;
  text-align: center;
}

._55_image_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 55%;
  max-height: 100vh;
  min-height: 100vh;
  padding: 10px;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-28 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.services_field_label {
  color: #fff;
}

.services_footer {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #000;
  color: transparent;
}

.image-18 {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  -webkit-transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg) perspective(0px);
  transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg) perspective(0px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.main_container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.ends_container {
  max-width: 1350px;
  margin-right: auto;
  margin-left: auto;
}

.image-19 {
  margin-top: 25px;
}

.text-block-2 {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

.field-label {
  text-align: left;
}

.field-label-2 {
  text-align: left;
}

.field-label-3 {
  text-align: left;
}

.field-label-4 {
  text-align: left;
}

.form-2 {
  text-align: left;
}

.skills_slider {
  overflow: hidden;
  max-height: 55px;
  margin: 25px 0px;
  background-color: transparent;
}

.slide-nav-3 {
  display: none;
}

.icon-2 {
  display: none;
}

.icon-3 {
  display: none;
}

.skills_slide {
  overflow: hidden;
  max-height: 55px;
}

.skills_slider_mask {
  overflow: hidden;
  max-height: 55px;
}

.skills_slide_grid {
  overflow: hidden;
  max-height: 55px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.skill_grid_block {
  overflow: hidden;
  max-height: 55px;
  text-align: center;
}

.skills_grid_image {
  overflow: hidden;
  max-height: 55px;
  max-width: 55px;
}

.skills_span {
  color: #f59516;
  font-weight: 700;
}

.services_grid {
  margin: 25px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-areas: ". . . Area";
  -ms-grid-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 1px auto;
  grid-template-rows: auto auto;
}

.services_grid_block {
  position: relative;
  overflow: visible;
  height: auto;
  max-height: 270px;
  max-width: none;
  border: 1px solid #f59516;
}

.web_dev_block {
  width: 100%;
  height: 100%;
  padding-top: 0px;
  background-image: url('../images/web_development.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

.services_block_hover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 3px 3px 21px 0 #000;
  opacity: 0;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.services_block_hover:hover {
  opacity: 1;
}

.services_image_h4 {
  position: relative;
  margin: 0px;
  padding: 75px 0px 65px;
  opacity: 1;
  font-family: Audiowide, sans-serif;
  color: #fff;
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1px 20px #000, 3px 3px 2px #f5941c;
}

.app_dev_block {
  width: 100%;
  height: 100%;
  background-image: url('../images/app_development.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

.ui_ux_block {
  width: 100%;
  height: 100%;
  background-image: url('../images/ui_ux.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

.seo_block {
  width: 100%;
  height: 100%;
  background-image: url('../images/seo.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

.analytics_block {
  width: 100%;
  height: 100%;
  background-image: url('../images/analytics.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

.internet_marketing_block {
  width: 100%;
  height: 100%;
  background-image: url('../images/internet_marketing.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

.digital_copywriting_block {
  width: 100%;
  height: 100%;
  background-image: url('../images/digital_copywriting.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

.social_media_management_block {
  width: 100%;
  height: 100%;
  background-image: url('../images/social_media_management.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

.my_services_para {
  font-size: 16px;
  text-align: left;
}

.my_work_para {
  font-size: 16px;
  text-align: right;
}

.paragraph-23 {
  font-size: 16px;
}

.services_image_inverse_h4 {
  position: relative;
  margin: 0px;
  padding: 75px 0px 65px;
  opacity: 1;
  font-family: Audiowide, sans-serif;
  color: #000;
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1px 2px #f5941c;
}

.sercices_link_block {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.services_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.lottie-animation-2 {
  margin: 0px -200px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.services_intro_title {
  display: inline-block;
  margin: 0px -161px 160px 75px;
  border: 0px none #000;
  font-family: Audiowide, sans-serif;
  color: #fff;
  font-size: 95px;
  line-height: 95px;
  text-align: right;
  text-shadow: 1px 1px 20px #000, 4px 4px 2px #f5941c;
}

@media (max-width: 991px) {
  .intro_section {
    min-height: 100vh;
  }
  .contact_section {
    min-height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .about_section {
    min-height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .work_section {
    min-height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .services_section {
    min-height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .section_titles {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section_titles.greeting {
    font-size: 75px;
    line-height: 75px;
  }
  ._2_block_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .footer_heading {
    font-size: 20px;
    line-height: 24px;
  }
  .footer_list_item {
    font-size: 12px;
    line-height: 14px;
  }
  .footer_link {
    font-size: 12px;
    line-height: 14px;
  }
  .footer_link.footer_icon {
    margin-top: 5px;
  }
  .heading-4 {
    font-size: 30px;
    line-height: 30px;
  }
  .image-11 {
    width: 100px;
  }
  .about_para {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
  }
  .orange_button_center.about_button {
    padding: 9px 15px;
    font-size: 14px;
  }
  .about_li {
    font-size: 14px;
    line-height: 16px;
  }
  .contact_me_para {
    margin: 0px;
    font-size: 14px;
    line-height: 16px;
  }
  .header_tagline {
    font-size: 30px;
    line-height: 30px;
  }
  .paragraph-12 {
    font-size: 14px;
    line-height: 16px;
  }
  .my_work_feature_para {
    font-size: 14px;
    line-height: 16px;
  }
  ._55_image_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main_container {
    padding-right: 25px;
    padding-left: 25px;
  }
  .skill_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .skills_slider {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .skills_grid_image {
    max-height: 35px;
    max-width: 35px;
  }
  .skills_span {
    font-size: 14px;
  }
  .services_grid {
    margin-right: 0px;
    margin-left: 0px;
  }
  .services_image_h4 {
    font-size: 18px;
    line-height: 18px;
  }
  .my_services_para {
    font-size: 14px;
    line-height: 16px;
  }
  .my_work_para {
    font-size: 14px;
    line-height: 16px;
  }
  .paragraph-23 {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 14px;
    line-height: 16px;
  }
  .services_image_inverse_h4 {
    font-size: 18px;
    line-height: 18px;
  }
  .image-20 {
    display: block;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
}

#w-node-6a62b51ca0de-37efaea4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-6a62b51ca0f2-37efaea4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-6a62b51ca106-37efaea4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-6a62b51ca11a-37efaea4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-6a62b51ca12e-37efaea4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2'), url('../fonts/fa-brands-400.eot') format('embedded-opentype'), url('../fonts/fa-brands-400.woff') format('woff'), url('../fonts/fa-brands-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2'), url('../fonts/fa-regular-400.eot') format('embedded-opentype'), url('../fonts/fa-regular-400.woff') format('woff'), url('../fonts/fa-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.eot') format('embedded-opentype'), url('../fonts/fa-solid-900.woff') format('woff'), url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}